# KiCad cache file
fp-info-cache
# KiCad backups
*-backups
*auto_saved_files*
*.bak
_autosave*
# KiCad temp and lock files
~*
*.lck
# Design files used to interface to Freerouter
*.dsn
*.frb
*.ses
logs/freerouting.log
*.rules
# Fabrication outputs
*-fab
*-fab.zip
# Rule check reports
*.rpt
